/*
	Feasting Fox Index Style Sheet
	
	Author: Richard Scharff & Janessa Taylor
	Date:	12/13/2020
	Filename:			istyle.css
	Supporting Files:	stucco.jpg
	
	*/
	
	/* reset styles */
	
article, figure, h1, img, p, #join {
   border: 0;
   padding: 0;
   margin: 0;
}
	
img {
	max-width: 100%;
	height: auto;
	width: auto;
	display: block;
	
}
article {
   padding: 1.5% 1.5% 1.5% 1.5%;
   margin: 1% 0;
   text-align: center;
   font-weight: bold;
   background: url('../Images/stucco.jpg');
   background-size: cover;
   overflow: auto; 
}

#join {
	text-align: center;
}