/*
	Feasting Fox Tables Style Sheet
	
	Author:	Richard Scharff & Janessa Taylor
	Date:	12/13/2020	
	Filename:			tstyle.css	
	Supporting Files:	none
	
*/
table{
	font-size: 14px;
	border-collapse: collapse;
	border: 10px outset rgb(34, 139, 34);
	margin: 10px auto;
	width: 400px;
}

thead {
	background-color: ivory;
}

th, td {
	border: 1px solid black;
	vertical-align: top;
	padding: 5px
}

tr td:nth-of-type(2), tr td:nth-of-type(3) {
	text-align: right;
}

.hours {
	background-color: rgb(232,232,255)
}